/*-------------------------------------------
    ANIMATION EFFECT
---------------------------------------------*/
@keyframes race {
    0% 100% {
        transform: translateY(0px);
        background-image: url("../Images/icons/smileyface1.png");
    }
    50% {
        transform: translateY(330px);
    }
}